# --- Logger Config ---
APP_LOGGER_LEVEL="debug"

# --- Server Config ---
APP_SERVER_API_HOST=0.0.0.0
APP_SERVER_API_PORT=8080
APP_SERVER_API_RATE_LIMIT=100
APP_SERVER_API_READ_TIMEOUT=5s
APP_SERVER_API_WRITE_TIMEOUT=10s
APP_SERVER_API_IDLE_TIMEOUT=120s
APP_SERVER_API_MAXBODYSIZE=1048576

# --- CORS Config ---
APP_SERVER_CORS_ALLOWEDORIGINS="*"
APP_SERVER_CORS_ALLOWEDMETHODS="GET,POST,PUT,DELETE,OPTIONS"
APP_SERVER_CORS_ALLOWEDHEADERS="Accept,Authorization,Content-Type,X-CSRF-Token"
APP_SERVER_CORS_EXPOSEDHEADERS="Link"
APP_SERVER_CORS_ALLOWCREDENTIALS=true

# --- Weather Service Config ---
APP_CLIENTS_WEATHERSERVICE_URL="http://weather-service:8080"
